*.pyc
*.ipynb
!*test.ipynb
.*.swp
*.db
*.pkl
*.egg-info/
sample-logs/
.ipynb_checkpoints
.DS_Store
.coverage
.python-version
.coveragerc
wzdat/tests/cache/
document/
htmlcov/
build/
dist/
.ropeproject/
docs/_build
dummydata/
