{% extends "layout.html" %}

{% block page %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 col-md-2 sidebar">
      {% for gnb in notebooks %}
      <ul class="nav nav-sidebar">
        {% if gnb[0] != '' %}
        <li class="nb-group">{{gnb[0]}}</li>
        {% endif %}
        {%for nb in gnb[1] %}
        <li><a href="#nb-{{gnb[0]}}-{{loop.index}}" {%if nb[3] is not none %}{% if nb[3][4] is not none%}class="nb-fail"{%endif%}{%endif%}>{{nb[1]}}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
    <div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
      {% for gnb in notebooks %}
      {% for nb in gnb[1] %}
      <div id="nb-{{gnb[0]}}-{{loop.index}}" style="padding-top: 40px; margin-top: -40px">
        <h3 class="nb-title {%if nb[3] is not none%}{% if nb[3][4] is not none %}nb-fail{%endif%}{% endif %}">
          <span>{{nb[1]}}</span>
          <span class="nb_edit">
            <div class="btn-group" role="group" style="margin-top: -3px">
            <a class="btn btn-xs btn-info" role="button" href="{{nb[0]}}">code</a>
            {% if nb[3] is not none and nb[3][4] is not none %}
              <button type="button" class="btn btn-xs btn-danger btn-error" data-placement="bottom" data-toggle="popover" data-html="true" data-content="<pre style='font-size: 10px'>{{nb[3][4]}}</pre>">error</button> 
              <button type="button" class="btn btn-xs btn-warning ladda-button rerun" data-style="expand-right" data-size="s" nbpath="{{nb[4]}}">rerun</button> 
            {% endif %}
            </div>
          </span>
          <div class="pull-right">
            {% if nb[3] is not none %}
            <span class="nb_info">
              {% if nb[3][0] is not none %}
              <span>Run {{nb[3][0]}} ago</span>{% if nb[3][1] is not none %}<span>, took {{nb[3][1]}}</span>{% elif nb[3][4] is not none %}<span>, stopped at {{nb[3][2]}}/{{nb[3][3]}} {% else %}, still running{% endif %}
                {% endif %}
              </span>
              {% endif %}
          </div>
        </h3>
        <div nbpath="{{nb[4]}}" class="nbresult">
          {{nb[2]|safe}}
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}


{% block pagescript %}
$('.btn-error').popover();

$(function() {
  $('button.view').click(function(e) {
    e.preventDefault();
    var nbpath = $(this).closest('div[nbpath]').attr('nbpath');
    var control = $(this).closest('div.control');
    var form = $(this).closest('form');
    $(control).siblings('div.view').remove()
    var data = JSON.stringify(form.serializeArray());
    request_task(this, 'view_button', '/start_view/' + nbpath, '/poll_view/', data, 'json', function(result) {
      control.after(result);
    })
    return false;
  });

  $('button.rerun').click(function(e) {
    e.preventDefault();
    var nbpath = $(this).attr('nbpath');
    var frame = $('div.nbresult[nbpath="' + nbpath + '"]');
    frame.empty();
    request_task(this, 'rerun_button', '/start_rerun/' + nbpath, '/poll_rerun/', {}, 'json', function(result) {
      location.reload();
    })
    return false;
  });
});
{% endblock %}
