{% extends "layout.html" %}

{% block page %}
<style>
.falsedate {
  background-color: red;
}
body.wait *, body.wait
{
  cursor: progress !important;
}
</style>

<div class="row">
  <div class="center-block" style="width:800px; margin-top: 30px">
      <ul class="nav nav-tabs" role="tablist">
      {% for ft in file_types %}
        <li id="tab-{{loop.index}}" {%if loop.first%}class="active"{%endif%}><a href="javascript:void(0)" onclick="selectTab({{loop.index}})">{{ft[0] | title}}</a></li>
      {% endfor %}
      </ul>
      {% for ft in file_types %}
      <div id="tab-body-{{loop.index}}" class="tab-body {%if not loop.first%}hide{%endif%}">
        <form id="search-form-{{ft[0]}}" class="form-horizontal" style="margin-top: 20px" autocomplete="off">
          <div class="form-group">
            <label class="col-md-1 control-label">Date </label>
            <div class="form-inline" style="margin-top: 6px">
              <span>From</span>
              <div class="btn-group" style="margin-right: 20px">
                <a id="start_dt-{{ft[0]}}" role="button" data-toggle="dropdown" href="javascript:void(0)">Start <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% for dt in ft[1] %}
                  <li><a class="dateitem" ftype="{{ft[0]}}" role="menuitem" target="start_dt-{{ft[0]}}">{{dt}}</a></li>
                  {% endfor %}
                </ul>
              </div>
              <span>To</span>
              <div class="btn-group">
                <a id="end_dt-{{ft[0]}}" role="button" data-toggle="dropdown" href="javascript:void(0)">End <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  {% for dt in ft[1] %}
                  <li><a class="dateitem" ftype="{{ft[0]}}" role="menuitem" target="end_dt-{{ft[0]}}">{{dt}}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-1 control-label">Kind </label>
            <div class="form-inline col-md-11">
              {% for kind in ft[2] %}
              <div class="checkbox" style="margin-right: 20px">
                <input class="kind" ftype="{{ft[0]}}" type="checkbox" value="{{kind}}" {%if ft[2]|length == 1%}checked{%endif%}> {{kind}}
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-1 control-label">Node </label>
            <div class="form-inline col-md-11">
              {% for node in ft[3] %}
              <div class="checkbox" style="margin-right: 20px">
                <input class="node" ftype="{{ft[0]}}" type="checkbox" value="{{node}}" {%if ft[3]|length == 1%}checked{%endif%}> {{node}}
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <div class="col-md-offset-1">
              <button id="search-{{ft[0]}}" ftype="{{ft[0]}}" class="searchBtn btn btn-default btn-info ladda-button" data-style="expand-right" disabled><span class="ladda-label">Search</span></button>
            </div>
          </div>
        </form>
        <div id="search_result-{{ft[0]}}">
        </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}

{% block pagescript %}
function selectTab(idx) 
{
  $("ul.nav-tabs > li").removeClass("active");
  $(".tab-body").addClass('hide');
  $("#tab-" + idx).addClass("active");
  $("#tab-body-" + idx).removeClass('hide');
}

$('.dateitem').click(function(e) {
  var ft = $(this).attr('ftype');
  var html = $(e.target).text() + '<span class="caret"></span>';
  var target = $(e.target).attr('target')
  $('#' + target).html(html);
  var sdt = $('#start_dt-' + ft).text();
  var edt = $('#end_dt-' + ft).text();
  if (sdt != 'Start ' && edt != 'End ') {
    if (sdt > edt) {
      $('#end_dt-' + ft).addClass('falsedate');
    } else {
      $('#end_dt-' + ft).removeClass('falsedate')
    }
  }
  checkSearchCondition(ft);
});

$('.kind').click(function(e) {
  var ft = $(this).attr('ftype');
  checkSearchCondition(ft);
});

$('.node').click(function(e) {
  var ft = $(this).attr('ftype');
  checkSearchCondition(ft);
});

function clearSearchResults() {
  {% for ft in file_types %}
  $('#search_result-{{ft[0]}}').html('');
  {% endfor %}
}


function clearDownloadResults(ft) {
  {% for ft in file_types %}
  $('#download_result-{{ft[0]}}').html('')
  $('#request_download-' + ft).removeAttr('disabled');
  {% endfor %}
}


function checkSearchCondition(ft) {
  clearSearchResults();
  clearDownloadResults(ft);

  var sdt = $('#start_dt-' + ft).text();
  var edt = $('#end_dt-' + ft).text();
  var dt = $('#end_dt-' + ft).attr('class');
  var sb = $('#search-' + ft);
  var kinds = checkedKinds();
  var nodes = checkedNodes();
  var disabled = false;
  if (sdt == 'Start ' || edt == 'End ' || dt == 'falsedate' || kinds.length == 0 || nodes.length == 0) {
    disabled = true;
  }
  if (disabled) {
    sb.attr('disabled', 'disabled');
  } else {
    sb.removeAttr('disabled');
  }
}

function checkedKinds() {
  return $('.kind:visible:checked').map(function() { return this.value; }).get();
}

function checkedNodes() {
  return $('.node:visible:checked').map(function() { return this.value; }).get();
}


function getFormData(ft) {
  var start_dt = $('#start_dt-' + ft).text();
  var end_dt = $('#end_dt-' + ft).text();
  var kinds = checkedKinds();
  var nodes = checkedNodes();
  var data = {'start_dt': start_dt, 'end_dt': end_dt, 'kinds': kinds, 'nodes': nodes};
  return data
}


function disableSearchForm(ft) {
  $('#search-form-' + ft + ' :input').prop("disabled", "disabled");
  $('#start_dt-' + ft).addClass("disabled");
  $('#end_dt-' + ft).addClass("disabled");
}


function enableSearchForm(ft) {
  $('#search-form-' + ft + ' :input').removeProp("disabled");
  $('#start_dt-' + ft).removeClass("disabled");
  $('#end_dt-' + ft).removeClass("disabled");
}


$('.searchBtn').click(function(e) {
  e.preventDefault();
  clearSearchResults();

  var ft = $(this).attr('ftype');
  disableSearchForm(ft);
  $('#search-' + ft).attr('disabled', 'disabled');
  var data = getFormData(ft);
  request_task(this, 'select_files', '/finder_search/' + ft, '/finder_poll_search/', data, 'html', function(msg) 
    {
      if (msg.indexOf('file count: 0') > -1) {
        $('#search_result-' + ft).html('<hr/><h4>Search Result</h4><b>No files found</b>');
      } else {
        var splited = msg.split('\n');
        var hsize = splited[splited.length -1];
        if(msg.lastIndexOf("\n") > 0) {
          msg = msg.substring(0, msg.lastIndexOf("\n"));
        }
        $('#search_result-' + ft).html('<hr/><h4>Search Result</h4><pre id="file_data-' + ft + '">' + msg + '</pre><b>Total ' + hsize + '</b><form class="form-horizontal" style="margin-top: 20px"><div class="form-group"><div class="col-md-offset-1"><button id="request_download-' + ft + '" class="btn btn-primary ladda-button" data-style="expand-right" data-size="s"><span class="ladda-label">Request Download</span></button></div></div></form><div id="download_result-' + ft + '"></div>');
        attachRequestHandler(ft);
      }
      enableSearchForm(ft)
    }, function() {
        $('#search-' + ft).removeAttr('disabled');
    });
});


function attachRequestHandler(ft) {
  cid = '#request_download-' + ft
  $(cid).click(function(e) {
    e.preventDefault();
    clearDownloadResults(ft);
    var data = $('#file_data-' + ft).text();
    $(cid).attr('disabled', 'disabled');
    request_task(this, 'download_button', '/finder_request_download/' + ft, '/finder_poll_request_download/', data, 'html', function(result) {
        $('#download_result-' + ft).html('<b>Click to download: </b>' + result);
      });
    return false;
    });
}

{% endblock %}
