/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.nb-title {
    position: relative;
    padding: 15px 15px 10px;
    margin: 15px -15px 15px;
    background-color: #fafafa;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .02);
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}

.nb-fail {
  background-color: #ffe0e0;
}

.fail-result {
  color: #994422;
  font-size: 12pt;
}

.nb-group {
  font-size: 17px;
  padding-left: 18px;
  font-family: Arial, sans-serif;
}

/*
.rendered_html table, .rendered_html tr, .rendered_html th, .rendered_html td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: 1em 2em;
}

.rendered_html td, .rendered_html th {
    text-align: left;
    vertical-align: middle;
    padding: 4px;
}

.rendered_html th {
    font-weight: bold;
}
*/

.nb_info {
  font-size: 14px;
  font-family: Arial;
  margin-right: 8px;
  color: #aaa;
}

.nb_edit {
  font-size: 14px;
  font-family: Arial, sans-serif
}

form.ds-ctrl > div {
  margin-right: 8px;
}

pre.ds-err {
  font-family: courier, mono;
  margin-top: 10px;
  margin-right: 40px;
  color: red;
}

.popover {
  max-width: 600px;
}
